
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <a href="{% url 'index' %}">Home |</a>
    <a href="{% url 'sobre' %}">Sobre |</a>
    <a href="{% url 'entre_em_contato' %}">Contato </a>
    
<h1>{{message}}</h1>
<p>Todos os geradores de Lorem Ipsum na internet tendem a repetir pedaços predefinidos conforme necessário,
 fazendo deste o primeiro gerador de Lorem Ipsum autêntico da internet. Ele usa um dicionário com mais de 
 200 palavras em Latim combinado com um punhado de modelos de estrutura de frases para gerar um Lorem Ipsum
 com aparência razoável, livre de repetições, inserções de humor, palavras não características, etc{{user_name}}.</p>

</body>

</html>